.title{
  font-size: 30px;
  font-weight: 900;
}

.container{
    padding: 2rem;
}

.users-container{
  text-align: center;
}

.user-container{
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  margin: 1rem;
  border-radius: 12px;
  border: 2px solid #222;
}

.user-container .user-image-container{
  display: inline-block;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 300px;
  height: 300px;
}

.user-container .user-image-container img{
  width: 100%;
}

.user-page-image-container{
  position: relative;
  width: 400px;
  height: 400px;
}